<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Cinema</h1>
<h2>Lista de Utilizadores:</h2>
<table>
    <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Email</th>
        <th>Perfil</th>
    </tr>
    <tr th:each="p:${lista}">
        <td th:text="${p.nome}"></td>
        <td th:text="${p.contato}"></td>
        <td th:text="${p.email}"></td>
        <td th:text="${p.perfil}"></td>
    </tr>
</table>

<section><h2>Novo Utilizador</h2>
    <form action="/utilizadores" method="post">
        <input type="text" name="nome" placeholder="Nome Completo">
        <input type="text" name="contato" placeholder="contato">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="senha" placeholder="senha">
        <input type="text" name="perfil" placeholder="perfil">
        <button type="submit" onclick="mostrarMensagem()">Adicionar</button>
    </form>
    <script>
        function mostrarMensagem(){
            alert("Registo realizado com sucesso!")
        }
    </script>
</section>
</body>
</html>